@model List<Contacts>


<h1>Favorites</h1>


<div>
    <table class="table table-hover">
        <thead>
        <tr>
            <td>Id</td>
            <td>Name</td>
            <td>Number</td>
            <td>Email Address</td>
            <td>Notes</td>
            <td>*</td>
        </tr>
        </thead>

        <tbody>
        @foreach (var con in Model)
        {
            <tr>
                <td>@con.Id</td>
                <td>@con.FullName</td>
                <td>@con.PhoneNumber</td>
                <td>@con.Email</td>
                <td>@con.Notes</td>

                <td>

                    <select style="width: 1.5rem" onchange="handleActionChange(this, @con.Id)">
                        <option disabled selected>•••</option>
                        <option value="Edit">Edit</option>
                        <option value="Delete">Delete</option>
                        <option value="Favorite">Remove</option>
                    </select>

                    <script>
                        function handleActionChange(selectElement, contactId) {
                            const action = selectElement.value;
                            if (action === "Edit") {
                                window.location.href = `/Home/Edit/${contactId}`;
                            } else if (action === "Delete") {
                                window.location.href = `/Home/Delete/${contactId}`;
                            } else if (action === "Favorite") {
                                window.location.href = `/Home/removeToFavorites/${contactId}`;
                                alert("Added to favorites!");
                            }
                        }
                    </script>
                </td>
            </tr>
        }
        </tbody>
    </table>
</div>