@model List<Contacts>
@{
    ViewData["Title"] = "Contact Manager";
}

<div class="table-container">
    <table class="table table-bordered">
        <thead>
        <tr  class="fw-bold; text-decoration-underline">
            <td id="Column">Name</td>
            <td id="Column">Number</td>
            <td id="Column">Email Address</td>
            <td id="Column">Notes</td>
            <td id="Column"></td>
        </tr>
        </thead>
        
        <tbody>
        @foreach (var con in Model)
        {
            <tr>
                <td>
                @if (@con.IsFavorite)
                {
                    @($"{con.FullName} ★")
                }
                else
                {
                    @con.FullName
                }
                
                </td>
                <td>@con.PhoneNumber</td>
                <td>@con.Email</td>
                <td>@con.Notes</td>
                
                <td id="optionCol">
         
                    <select style="width: 1.5rem" onchange="handleActionChange(this, @con.Id)">
                        <option disabled selected>•••</option>
                        <option value="Edit">Edit</option>
                        <option value="Delete">Delete</option>
                        <option value="@(@con.IsFavorite ? "Remove" : "Add")">
                            @if (@con.IsFavorite)
                            {
                                @("Remove from favorites")
                            }
                            else
                            {
                                @("Add to favorites")
                            }
                            </option>
                    </select>

                    <script>
                        function handleActionChange(selectElement, contactId) {
                            const action = selectElement.value;
                            if (action === "Edit") {
                                window.location.href = `/Home/Edit/${contactId}`;
                            } else if (action === "Delete") {
                                window.location.href = `/Home/Delete/${contactId}`;
                            } else if (action === "Remove") {
                                    window.location.href = `/Home/removeToFavorites/${contactId}`;
                                    alert("Removed from favorites!");
                            } else if (action === "Add") {
                                    window.location.href = `/Home/addToFavorites/${contactId}`;
                                    alert("Added to favorites!");
                            }
                        }
                    </script>
                </td>
            </tr>
        }
        </tbody>
    </table>
</div>